/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}
@media (screen and orientation:landscape) {
        main {
                min-height:100em;
        }
       .soon {
                top:88%;
        }
}
@media (min-width: 250px) {
	html {
		font-size: 8pt;
	}
}
@media (min-width: 414px) {
	html {
		font-size: 12pt;
	}
}

@media (min-width: 576px) {
	html {
		font-size: 14pt;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 20pt;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 24pt;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 32pt;
	}
}

@media (min-width: 1500px) {
	html {
		font-size: 40pt;
	}
}
.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 60em;
	justify-content: center;
	padding: 0, 1em;
	text-align: center;
}
.head {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 4em;
	font-weight: 600;
        text-align: left;
        position: absolute;
        top: 0.5em;
        left: 2%;
}


.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 2em;
	font-weight: 300;
        text-align: right;
        position: absolute;
        top: 2.5em;
        right: 30%;
        padding-bottom:5em;
}
.pitch {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.8em;
	font-weight: 150;
        text-align: left;
        position: absolute;
        top: 20em;
        left: 5%;
        color:white;
        padding-top:2em;
}
.soon {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.6em;
	font-weight: 150;
        text-align: right;
        position: absolute;
        top: 25em;
        right: 5%;
        padding-top: 2em;
        padding-bottom: 2em;
}
.tagline {
        font-family: 'Reem Kufi', sans-serif;
	font-size: 1.8em;
	margin: 0;
	font-weight: 280;
        writing-mode: vertical-rl;
        text-orientation:upright;
        position: absolute;
        top: 2.5em;
        right:5%;
        text-align: left;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	width: 2.65rem;
	height: 2.65rem;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 1rem;
    margin: 2em;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: sticky;
  top: 98%;
  padding-top: 3em;
  font-size: 1em;
}
.input[type=email] {
  display: inline-block;
  width: 4em;
  height:1.5em;
  margin: 2px 0 0 2px ;
  box-sizing: border-box;
}
